.user-list {
    list-style: none;
    padding-left: 0;

    li:nth-child(even) {
        background-color: bisque;
    }
}

.dashboard-user-list {
    padding-left: 0;
    font-size: 20px;

    td {
        width: 260px;
    }
}