<h2>Team list</h2>
<ul class="user-list" *ngIf="users$ | async; let users">
    <li *ngFor="let user of users">
        <table class="dashboard-user-list">
            <tr>
                <td>{{ user.name }}</td>
                <td>
                    <div *ngIf="user.checkListDone; else else_content">
                        Compleated
                    </div>
                    <ng-template #else_content>
                        <button (click)="goToCheckList(user.id, user.name)"> Go to check list</button>
                    </ng-template>
                </td>
            </tr>
        </table>
    </li>
</ul>