.member-check {
    display: flex;
    margin: 5px;

    div {
        padding: 15px;
        font-size: 22px;
        list-style: none;
        flex-direction: row;

        button {
            font-size: 16px;
        }
    }
}

.completed-checklist {
    text-align: center;
    color: red;
    font-size: 26px;
}