<a class="dashboard-link" href="/check-list">
    Go to Team dashboard
</a>
<h1>{{userName}}</h1>
<div *ngIf="teamMemberCheckList$ | async; let teamMemberCheckList">
    <ul *ngIf="!checkListDone(teamMemberCheckList.checks); else good_to_go">
        <li *ngFor="let check of teamMemberCheckList.checks" class="member-check">
            <div>
                <ng-container *ngIf="check.isChecked; else else_content">
                    Compleated
                </ng-container>
                <ng-template #else_content>
                    <button (click)="markThisCheck(check.id)">Mark as done</button>
                </ng-template>
            </div>  
            <div>{{check.description}}</div>
        </li>
    </ul>
    <ng-template #good_to_go>
        <div class="completed-checklist">
            You are complete today's checklist!
        </div>
    </ng-template>
</div>
